.main_main{
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

.jumbotron-fluid{
    background: url("../svg/Bubble-Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    margin: 0px auto;
    padding-top: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.category-cards{
    display: grid;
    margin: 0 auto;
}
.card-main{
    padding: 0 7px;
}

.tags_main{
    text-align: center;
    margin: 0 auto;
}
.tags_cat{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}
.tags_cat p{
    background:  #d5d8dc ;
    color: #000;
    font-weight: 600;
    padding: 9px;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    transition: all;
}
.tags_cat p:hover{
    background:   #d6eaf8  ;
    color:  #2471a3 ;
    font-weight: 600;
    padding: 9px;
    border-radius: 20px 20px 20px 20px;
}
.search_main_page{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
.crousal_main_page{
    margin: 15px auto;
    text-align: center;
    border-radius:30px 30px 30px 30px;
    height: 70vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.discover_main{

    text-align: center;
    height: auto;
}
.contact_main_page{
    margin-top: auto;
    margin-bottom:auto;
}
.crousal_wallpaper{
    border-radius:30px 30px 30px 30px;
    height: 70vh;
}


@media screen and (max-width: 980px) {
    .jumbotron-fluid{
        background: url("../svg/Bubble-Background.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        width: 100%;
        margin: 0px auto;
        padding-top: 9px;
        box-shadow: none;
    }
    .tags_cat{
        display: flex;
        justify-content: space-around;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }

    .search_main_page{
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
    .crousal_main_page{
        margin: 10px auto;
        text-align: center;
        height: auto;
    }
    .contact_main_page{
        margin: 10px auto;
    }
    
    
    
    
  }